{% extends "base.html" %} {% load static %} {% block content %}
<div class="container h-100">
  <div class="row h100"></div>
    <div class="col-7 col-md-6 my-auto">
        <h1 class="my-5">Welcome to Senior Fitness!</h1>
        <p>
        If you are 65 plus and are looking for a safe place to get in shape and
        find a healthier lifestye, this is the place for you. We have a gym, only
        open for ages 65 and up, professional instructors that will help you find
        an excercise plan that fits your needs.
        </p>
    </div>
    <div class="col-7 col-md-6 my-auto">
        <img src="" alt="">
    </div>
</div>

{% endblock %}
