{% extends "base.html" %} {% load static %} {% block content %}
<div class="container h-100 mt-5">
    <div class="row flex-sm-row-reverse ">
        <div class="col-12 col-md-6 mt-5 px-2">
            <img class="img-fluid rounded" src = "{% static 'images/seniors_fitness.jpg' %}" alt="seniors working out">
        </div>
        <div class="col-12 col-md-6 mt-5 ">
            <h1 class="welcome-head">Welcome to Senior Fitness!</h1>
            <p class="welcome-text">
                    If you are 65 plus and looking for a safe place to get in shape and and lead a healthier life, then you have come to the right place. We have a gym that is only
                    for people 65 and over. Our professional gym instructors will help you find an exercise plan that suits your needs.
                
                    You are also welcome to try out our newly built tennis courts. You can either rent rackets and balls or buy them in our store at the facility or online.
                    
                    Do not miss our weekly walking meetups every Wednesday. We meet in front of our facilities and walk for an hour. A great way to socialize, get some fresh air and get in shape.
            </p>
        </div>
        
    </div>
</div>

{% endblock %}
