body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* Base */

.navbar-style {
    background-color: #555252;
}

/* Shop */
.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product_row {
    margin: 20px;
}

/* Shop */

.shop-text {
    margin: 40px;

}


.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Bag */

.bag-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}