/* Base */

.navbar-cont {
    background-color: #555252;
}

.navbar {
    padding: 0;
}

.shop-icon {
    float: right;
}

/* Shop */

.shop-text {
    margin: 40px;

}


.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product {
    margin-top: 20px
    margin-bottom: 20px;
}