{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


<table>
  {% block content %}
  <div class = "d-flex justify-content-center pt-5"> 
    <h3>
      Sign Up
    </h3>
  </div>
  <div class = "d-flex justify-content-center pt-2">
    <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>


  <div class = "container d-flex justify-content-center">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
      <div class="row">
          <div class="col-12 mt-3">
            <div id="div_id_age_yes" class="control-group"> 
              <div class="controls text-primary"> 
                <label for="id_age_yes" class="requiredField m-0"> 
                  <input type="checkbox" name="age_yes" class="checkboxinput" required="" id="id_age_yes">
                  I verify that I am 65 years old or older<span class="asteriskField">*</span> 
                </label> 
                <p class ="p-0 text-dark">(Our services are exclusively available to individuals aged 65 and older)</p>
              </div> 
            </div>   
          </div>
          <div class="col-6 mt-2 mb-2">
            <div id="div_id_email" class="control-group"> 
              <label for="id_email" class="control-label requiredField">
                Email<span class="asteriskField">*</span> 
              </label> 
              <div class="controls"> 
                <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" 
                class="textinput textInput form-control form-control-sm" required="" id="id_email"> 
              </div> 
            </div>
            <div id="div_id_email2" class="control-group mt-2"> 
              <label for="id_email2" class="control-label requiredField">
                Email (again)<span class="asteriskField">*</span> 
              </label> 
              <div class="controls"> 
                <input type="email" name="email2" placeholder="Email address confirmation" maxlength="320" 
                class="textinput textInput form-control form-control-sm" required="" id="id_email2"> 
              </div> 
            </div> 
            <div id="div_id_username" class="control-group mt-2"> 
              <label for="id_username" class="control-label requiredField">
                Username<span class="asteriskField">*</span> 
              </label> 
              <div class="controls"> 
                <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="4" maxlength="150" 
                class="textinput textInput form-control form-control-sm" required="" id="id_username">
              </div> 
            </div> 
          </div>  
          <div class="col-6 mt-2 mb-2">  
            <div id="div_id_first_name" class="control-group"> 
              <label for="id_first_name" class="control-label requiredField">
                First Name<span class="asteriskField">*</span> 
              </label> 
              <div class="controls"> 
                <input type="text" name="first_name" maxlength="30" 
                class="textinput textInput form-control form-control-sm" required="" id="id_first_name"> 
              </div> 
            </div> 
            <div id="div_id_last_name" class="control-group mt-2"> 
              <label for="id_last_name" class="control-label requiredField">
                Last Name<span class="asteriskField">*</span> 
              </label> 
              <div class="controls"> 
                <input type="text" name="last_name" maxlength="30" 
                class="textinput textInput form-control form-control-sm" required="" id="id_last_name"> 
              </div> 
            </div>
          </div>   
          <div class="col-4 mt-5">
            <div id="div_id_password1" class="control-group"> 
                <label for="id_password1" class="control-label requiredField">
                  Password<span class="asteriskField">*</span> 
                </label> 
                <div class="controls"> 
                  <input type="password" name="password1" placeholder="Password" autocomplete="new-password" 
                  class="textinput textInput form-control form-control-sm" required="" id="id_password1"> 
                  <p id="hint_id_password1" class="help-block">
                  </p>
                </div>
            </div>      
          </div>
          <div class="col-4 mt-5">
            <div id="div_id_password2" class="control-group"> 
              <label for="id_password2" class="control-label requiredField">
                Password (again)<span class="asteriskField">*</span> 
              </label> 
              <div class="controls"> 
                <input type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" 
                class="textinput textInput form-control form-control-sm" required="" id="id_password2"> 
              </div> 
            </div>
          </div> 
                <div class="col-4">
                  <ul>
                    <li>Your password can’t be too similar to your other personal information.
                    </li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                  </ul>
              </div> 
            </div> 
           

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="mb-3 btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>  
        </div>
      </div>
    </form>
        
  </div>

  {% endblock %}
</table>
