{% extends "base.html" %} {% load static %} {% block content %}
<div class="container h-100 mt-5">
    <div class="row flex-sm-row-reverse ">
        <div class="col-12 col-md-6 mt-5 px-2">
            <img class="img-fluid rounded" src = "../../../media/walk-3440186_1280.jpg" alt="seniors walking">
        </div>
        <div class="col-12 col-md-6 mt-5 ">
            <h1 class="walking-head">Wednesday Walking Meetups</h1>
            <p class="walking-text">
                Come join us every Wednesday at 01.00 pm for a refreshing walk and socialization session outside the Senior Fitness facilities. 
                This weekly gathering is specifically designed for seniors who are looking to stay active, meet new friends, and enjoy the outdoors. 
                Whether you want to take a leisurely stroll or power walk, we welcome all fitness levels. 
                Don't miss out on this fantastic opportunity to stay active and connect with others in a welcoming and inclusive environment.
                It is completely free to join!
            </p>
        </div>
        
    </div>
</div>

{% endblock %}
